@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap');

.App {
  padding: 20px;
  font-family: 'Black Han Sans', sans-serif;
  font-family: 'Jua', sans-serif;
}
